@import "~@progress/kendo-theme-default/scss/all";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
  margin-top: 0;
  margin-bottom: 0;
}

